.code-red {color: #d9534f;}
.code-yellow {color: #f0ad4e;}
.code-blue {color: #5bc0de;}
.code-comments {color: #777;}
.code-ss-inlcude {font-weight: bold; }
.ss-diagnostic-block ul {color: red;list-style-type: decimal;}
.ss-diagnostic-block .ss-ok {font-size: 18px; text-align: center; font-weight: lighter;
    padding: 0; margin: 0}
.update-nag{
    /*margin-bottom: 40px;*/
}
.pre-code-red{color: red; font-weight: bold}
.pre-code-green{color: green; font-weight: bold}
.form-table{
    background: #ffffff;
    font-size: 12px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.form-table tr td, .form-table tr th{
    border: 1px solid #e5e5e5;
    padding: 16px;
}
.ss-config-diagnostic.error{
    background-color: #d9534f;
    color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0,0,0,.9);
    padding: 14px;
}
.ss-config-diagnostic.error li{
    margin: 12px;
}
.ss-config-diagnostic.success{
    color: #ffffff;
    background-color: #5cb85c;
    box-shadow: 0px 0px 2px rgba(0,0,0,.9);
    padding: 14px;
}

.class-code{
    background-color: #5cb85c;
    color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0,0,0,.9);
    padding: 14px;
    display: block;
    font-family: monospace;
    /*white-space: pre;*/
    margin: 1em 0px 1em;
}
.class-code .tab{
    clear: both;
    padding-left:4em;
}
.screen-of-config{
    text-align: center;
}

.health_features_option{
    clear: both;
}
.health_features_option .checkbox{
    width: 40px;
    float:left;
}
.feature-block{
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
    clear: both;
    overflow: hidden;
}

.feature-block .connection-info{
    width: 100%;
    float: left;
    overflow: hidden;
    border-right: 1px solid #ccc;
}

.feature-block .dump-of-data{
    width: 100%;
    float: left;
    overflow: auto;
    border-left: 1px solid #ccc;
    margin-left: -2px;
    background-color: #FFFFFF;
}

.feature-block .header{
    font-weight: bold;
}
.debug-table{
    border: none;
    text-align: left;
    margin: 10px 0 0 0;
}
.debug-table th, .debug-table td{
    padding: 4px;
}
.debug-table tr.odd{
    background-color: #e8e8e8;
}
.debug-table tr.even{

}
.feature-block .response{
    font-size: 16px;
    margin-top: 20px;
    clear: both;
    margin-bottom: 40px;
}